@font-face {
  font-family: 'Cinzel Decorative';
  src: url('../assets/fonts/CinzelDecorative-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('../assets/fonts/CinzelDecorative-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('../assets/fonts/CinzelDecorative-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel';
  src: url('../assets/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
}

@font-face {
  font-family: 'Horizon';
  src: url('../assets/fonts/Horizon.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Horizon';
  src: url('../assets/fonts/Horizon.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
